<form action="/" method="post">
  <label>User:</label>
  <input type="text" name="user" value="">
  
  <label>Password:</label>
  <input type="password" name="password" value="">
  <button type="submit" name="button">Login</button>
</form>
