<div class="container-full">
  <div class="hero-signup">
    <div class="nav">
      <a href="/"><h1 class="brand">Barter</h1></a>
      <ul>
      <li class="menu-toggle">=</li>
      <li> <a href="/login">Sign in</a></li>
      <li><a href="/newuser">Create Account</a></li>
      <li><a href="/about">About</a></li>
      </ul>
    </div>
    <h2>Sign Up for Barter</h2>
  </div>
</div>
<form action="/" method="post">
  <label>User:</label>
  <input type="text" name="email" value="">

  <label>Password:</label>
  <input type="password" name="password" value="">
  <button type="submit" name="button">Login</button>
</form>
