@Html.Partial("head.cshtml")

<h1>Add New User</h1>

  <form class="" action="/newuser" method="post">

    <label for="email">Email</label>
    <input type="text" name="email" value="">
    <label for="pic">Link to profile picture</label>
    <input type="text" name="pic" value="">
    <label for="password">Password</label>
    <input type="password" name="password" value="">
    <label for="dummy-password">Repeat Password</label>
    <input type="password" name="dummy-password" value="">
    <label for="location">City name</label>
    <input type="text" name="location" value="">
    <button type="submit" name="button">Click here</button>
  </form>
